body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #000000; 
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* Remove extra padding */
}

header {
  background-color: #243F72; 
  padding: 5px 0; /* Further reduced padding */
  color: white;
  display: flex;
  align-items: center;
  height: 50px; /* Further reduced height */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}

.logo-area {
  flex: 1; 
}

.logo-area img {
  max-width: 20%; /* Further reduced logo size */
  height: auto; 
}

nav {
  display: flex; 
  gap: 10px; /* Reduced gap between buttons */
}

nav button {
  background-color: #F53131;
  color: white;
  padding: 5px 10px; /* Reduced padding */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
  font-size: 0.9em; /* Reduced font size */
}

#banner {
  background-color: white;
  padding: 50px 0;
  text-align: center;
}

.banner-text h1 {
  color: #32466D;
  padding: 0;
  margin: 0 0 20px;
  font-weight: 800;
  font-family: "FSLola", sans-serif;
}

.banner-text p {
  color: #555;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.banner-text button {
  background-color: #F53131;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  font-family: 'Inter', sans-serif;
}

#carousel {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  margin-top: -5px; /* Adjusted margin to remove gap */
}

.carousel-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-container img.active {
  opacity: 1;
}

#destaques {
  padding: 50px 0;
}

.destaques-wrapper {
  color: #0a0a0a;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.destaque {
  flex: 1 1 28%; 
  min-width: 250px; 
  border: 3px solid #000000;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #F5BD31;
}

.destaque img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

footer {
  background-color: #243F72;
  color: white; 
}

.rodape-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px; /* Reduced padding */
}

.logo-footer-area {
  display: flex; 
  align-items: center; 
}

.logo-footer-area img {
  height: 50px; /* Reduced logo size */
  margin-right: 20px; 
}

.whatsapp-button {
  display: flex;
  align-items: center;
  background-color: #F5BD31; 
  color: #333; 
  padding: 10px 20px;
  border: none;
  border-radius: 25px; 
  font-weight: bold;
  text-decoration: none;
}

.whatsapp-button img {
  height: 20px;
  margin-right: 8px;
}

.footer-links {
  display: flex; 
  gap: 20px;
}

.links-column {
  flex: 1; 
  text-align: center; 
}

.footer-links a {
  display: block;
  color: white; 
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-contato {
  text-align: right;
}

.footer-contato h3 {
  margin-top: 0;
  margin-bottom: 10px; 
}

.footer-contato p {
  margin: 5px 0; 
}

.footer-bottom {
  background-color: #000000;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.highlighted-text {
  font-size: 2rem; /* Tamanho maior */
  font-weight: 700; /* Negrito */
  color: #ffcc00; /* Cor amarela */
  text-align: center; /* Centralizado */
  margin-bottom: 20px; /* Espaçamento inferior */
}

.footer-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px 0;
  background-color: #243F72;
}

.footer-image-item {
  text-align: center;
  color: #ffcc00;
}

.footer-image-item img {
  max-width: 150px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px 0;
  background-color: #243F72;
}

.footer-buttons button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 700;
  color: #243F72;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.footer-buttons button:hover {
  background-color: #e6b800;
}

#localizacao {
  padding: 50px 0;
  text-align: center; 
}

#localizacao h2 {
  color: #32466D;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.loja-info {
  margin-bottom: 30px;
}

.loja-info h3, .loja-info h4 {
  color: #F53131;
}

.mapa-container {
  width: 100%;
  height: 400px;
  border-radius: 10px; 
}

#trocar-loja {
  background-color: #F5BD31;
  color: #333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
}

.card-promotion {
  background: linear-gradient(to bottom, rgba(245,189,49,0.7), rgba(135,206,235,0.7));
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

.nome-provisao {
  font-size: clamp(1rem, 9vw, 6rem);
  text-align: center;
  padding: 0;
  margin: 0 0 20px;
  font-weight: 450;
  font-family: "Raleway", sans-serif;
  color: #ff0000; /* Cor vermelha para chamar atenção */
  text-shadow: 2px 2px #000000; /* Sombra para efeito 3D */
}

.card-promotion h2 {
  color: #007bff;
  font-size: 2em;
  margin-bottom: 10px;
}

.card-promotion p {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.highlight {
  font-weight: bold;
  color: red;
}

.small-text {
  font-size: 0.8em;
}

.card-image, .new-card-image {
  background-size: cover;
  height: 200px;
  width: 320px;
  margin: auto; 
  margin-bottom: 20px;
}

.new-card-image {
  background-image: url('https://i.imgur.com/xoigIX5.png'); 
}

.cta-button {
  background-color: #ffc107;
  color: #007bff;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
}

#payment-options {
  background-color: #32466D; 
  padding: 50px 0;
  color: #ffcc00; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.payment-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.text-section {
  max-width: 50%;
}

.payment-title {
  font-size: 2.5rem; 
  margin-bottom: 20px;
  font-weight: 700; 
  font-family: 'Roboto Slab', sans-serif; 
  color: #ffcc00; 
}

.text-section ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.text-section ul li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.text-section button {
  background-color: #ffcc00;
  color: #32466D;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.text-section button:hover {
  background-color: #e6b800;
}

.image-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.image-section img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .payment-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .image-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .text-section, .image-section {
    max-width: 100%;
    width: 100%;
  }

  .image-section img {
    width: 48%;
  }
}

#carousel {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  margin-top: -5px; /* Adjusted margin to remove gap */
}

#store-location {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.store-content h2 {
  color: #243F72;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.store-content .highlight {
  color: #F58C00;
}

.store-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.store-details, .store-specialties {
  flex: 1;
  color: #333;
}

.store-details h3 {
  color: #243F72;
  margin-bottom: 10px;
}

.store-details p {
  margin: 5px 0;
  color: #555;
}

.store-details button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #F58C00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.store-details button:hover {
  background-color: #e67e00;
}

.store-specialties h4 {
  color: #243F72;
  margin-bottom: 10px;
}

.store-specialties p {
  margin: 5px 0;
  color: #555;
}

.store-map {
  margin-top: 20px;
}

.store-map iframe {
  width: 100%;
  border: 0;
  border-radius: 10px;
}
